body {
    background: #f9f9f9;
    font-family: 'Pontano Sans', sans-serif;
}

.container {
    border-top: 1px solid #fb5164;
}

#main {
    padding-bottom: 40px;
}

/* Navigation */
#navigation {
    height: 70px;
    color:#fff;
}

.menu_block {
    position: absolute;
    top: 0;
    height: 70px;
    width: 70px;
    display: inline-block;
}

.menu_left {
    left: 0;
}

.menu_right {
    right: 0;
}

.menu_block img {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 10px;
    cursor: pointer;
}

.menu_left img {
    right: 10px;
}

.menu_right img {
    left: 10px;
}

#menu_desktop {
    width: 80%;
    margin: 0px auto;
    margin-top: 40px;
}

#menu_desktop #menu_links li {
    float: left;
    border-right: 1px solid #ccc;
}

#menu_desktop #menu_links li.page_active {
    background: #f5f3f3;
}

#menu_desktop #menu_links li.page_active a {
    color: #fb5164 !important;
}

#menu_desktop #menu_links li:last-child {
    border-right: none;
}

#menu_desktop #menu_links li a {
    color: #333 !important;
    font-size: 18px;
    padding: 20px 30px;
    line-height: 48px;
}

#menu_desktop #menu_links li a:hover {
    color: #fb5164 !important;
}

#menu_desktop #menu_links li:hover {
    background: #f5f3f3;
}

/* Side Panel */
#sidePanel {
    background: #5a5a5a !important;
    width: 220px !important; /*Default 272px - 17em*/
}

#sidePanel li {
    height: 40px;
    background: #fdfdfd;
    line-height: 40px;
    margin-bottom: 4px;
    font-weight: bold;
}

#sidePanel li.page_active {
    border-left: 2px solid #fb5164;
}

#sidePanel li a {
    color: #000000 !important;
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.ui-panel-dismiss-open.ui-panel-dismiss-position-right {
    right: 250px !important; /*Default 17em*/
}

/* Page Header */
.separator {
    display: block;
    height: 0px;
    border-top: 1px solid #ccc;
    margin: 20px 0px;
}

.hello_card {
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
}

.hello_card span.card_title {
    font-size: 24px;
    font-weight: bold;
}

/* Home */
.page_subtitle {
    display: block;
    width: 80%;
    margin: 30px auto 5px auto;
    font-weight: bold;
}

#latest_projects {
    padding-top: 10px;
}

#latest_projects_container {
    margin: 0px auto;
    width: 100%;
}

.project {
    text-align: center;
    height: 220px !important; /*170 img - 220 txt*/
    width: 250px;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.project:last-child {
    margin-bottom: 0px;
}

.plink {
    display: block;
    width: 250px;
    height: 170px;
}

.ptext {
    height: 50px;
    line-height: 20px;
    padding-top: 5px;
    background: #f5f3f3;
    border-top: 1px solid #ccc;
}

.inner_text {
    color: #444444;
    font-size: 14px;
}

.inner_text p span {
    color: #fb5164;
}

.see_more {
    width: 80%;
    margin: 0px auto;
    margin-top: -10px;
}

.log {
    font-size: 14px;
    width: 80%;
    margin: 0px auto;
    line-height: 16px;
    vertical-align: middle;
    position: relative;
    margin-bottom: 7px;
}

.log .date {
    font-size: 11px;
    font-family: 'Courier New', Courier, monospace;
    color: #999;
    float:left;
    display: block;
    width: 24%;
}

.log .log_text {
    font-size: 14px;
    color: #333;
    float:left;
    display: block;
    width: 74%;
    padding-left: 2%;
}

.log div {
    clear: both;
}

.see_more_logs {
    margin-top:5px;
}

/* Contact */
.action_button {
    display: block;
    background: #fb5164;
    color: #fff !important;
    font-weight: normal !important;
    text-align: center;
    padding: 10px 0px;
    margin-top: 10px;
}

#contact_sites {
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.contact_site {
    width: 33%;
    background: #ccc;
    float:left;
    margin-bottom: 10px;
    background-position: center center;
}

.contact_site a {
    display: inline-block;
    width: 100%;
    height: 70px;
}

#contact_sites div:last-child {
    clear: both;
}

/* About */
#profile_picture {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: -30px auto 30px auto;
    background: #ccc url(../img/profile_pro.png) no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}

/* Project */
#project_img {
    box-shadow: 0 0 8px 1px #5a5a5a inset;
    width: 250px;
    height: 170px;
    margin: 0px auto;
}

#project_date {
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}

#project_tech {
    color: #666;
    font-size: 14px;
}

#project_tech span {
    color: #fb5164;
}

#project_description {
    padding: 20px 0px;
}

#project_description img {
    width: 100%;
}

/* Footer */
#footer {
    background: #5a5a5a;
    color: #f9f9f9;
    box-shadow: inset  0  8px 8px -8px #292929;
    border-bottom: 1px solid #fb5164;
    padding: 15px 0px;
}

#credits {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    text-shadow: none;
}

/* Html tags */
a {
    color: #fb5164 !important;
    text-decoration: none;
}

strong {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

/* Width > 796px */
@media (min-width: 796px) {
    .menu_block {
        display: none;
    }

    #menu_desktop {
        display: block;
    }

    .hello_card span.card_title {
        font-size: 28px;
    }

    .card_text {
        width: 60%;
        margin: 50px auto;
        font-weight: bold;
        font-style: italic;
        font-size:20px;
    }

    .page_subtitle {
        font-size: 22px;
        width: 796px;
        margin-top: 80px;
    }

    #latest_projects_container {
        margin: 0px auto;
        width: 796px;
    }

    .project {
        float: left;
        margin-right: 20px;
    }

    .project:nth-child(3n) {
        margin-right: 0px !important;
    }

    .see_more_projects {
        clear: both;
        width: 100%;
    }

    .log .date {
        font-size: 14px;
        width: auto;
    }

    .log .log_text {
        width: 85%;
        font-size: 16px;
    }

    .see_more_logs {
        width: 796px;
    }
    
    .contact_site {
        width: 15%;
    }

    .contact_site a {
        height: 140px;
    }

    .action_button {
        width: 350px;
        margin: 0px auto;
        margin-top: 15px;
    }

    iframe {
        width: 100%;
        height: 450px;
    }

    #project_date, #project_tech {
        text-align: center;
    }

    #project_description {
        width: 75%;
        margin-left: 12.5%;
    }

    .about_page {
        width: 796px;
        margin: 50px auto;
    }

    .log {
        width: 796px;
    }

    #project_img {
        width: 450px;
        height: 300px;
        margin:40px auto;
    }

    #project #project_date, #project #project_tech {
        font-size: 17px;
    }
}

@media (max-width: 796px) {
    .menu_block {
        display: block;
    }

    #menu_desktop {
        display: none;
    }
}